body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

main {
    height: 100%;
    max-width: var(--content-2xl);
    margin: 0 auto;
    padding: 1em;
}