input[type="submit"],
input[type="reset"],
[role="button"],
button {
  cursor: pointer;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.75em 1em;
  border-radius: 3px;
  border: none;
  background-color: var(--primary);
  font-size: var(--fluid-1);
  color: #FFF;
  &:hover {
    transition: background-color .3s, color .3s;
    background-color: var(--primary-d1);
  }
  &:active {
    transition: transform .2s;
    transform: scale(0.98);
  }
  &:focus {
    outline: 3px solid var(--primary-a1);
  }
}

input[type="reset"],
[role="button"].secondary,
button.secondary {
  background-color: var(--gray-l7);
  &:hover {
    background-color: var(--gray-l6);
  }
  &:focus {
    outline: 3px solid var(--gray-a3);
  }
}
[role="button"].contrast,
button.contrast {
  background-color: var(--gray-l2);
  &:hover {
    background-color: var(--gray-l3);
  }
  &:focus {
    outline: 3px solid var(--gray-a2);
  }
}

button.outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--primary);
  &:hover {
    background-color: transparent;
    color: var(--primary-d1);
  }
}
button.outline.secondary {
  color: var(--gray-l6);
  &:hover {
    color: var(--gray-l5);
  }
}
button.outline.contrast {
  color: var(--gray-l2);
  &:hover {
    color: var(--gray-l3);
  }
}

