// Fieldset
fieldset {
    margin: 0 0 .5em 0;
    padding: 0;
    border: 0;
}

label,
fieldset legend {
    display: block;
    margin-bottom: .25em;
}

// Inputs
input,
optgroup,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

input[type="color"] {
    min-height: 2.5em;
}

// Input Styles
input:not([type="checkbox"], [type="radio"], [type="range"], [type="submit"], [type="reset"]),
select,
textarea {
    appearance: none;
    padding: .5em;
    &:focus {
        border-color: var(--primary);
        outline: 2px solid var(--primary-a1);
    }
}
input:not([type="checkbox"], [type="radio"]),
select,
textarea {
    width: 100%;
    margin-bottom: 1em;
}
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
    accent-color: var(--primary);
}

input,
select,
textarea {
    outline: none;
    border: 2px solid var(--gray-l12);
    border-radius: 3px;
    background-color: var(--gray-l13);
}

input[aria-invalid="false"] {
    border-color: var(--valid);
    &:focus {
        border-color: var(--valid);
        outline: 3px solid var(--valid-a1);
    }
}

input[aria-invalid="true"] {
    border-color: var(--invalid);
    &:focus {
        border-color: var(--invalid);
        outline: 3px solid var(--invalid-a1);
    }
}
// Margin top inside label
label {
    > :where(input, select, textarea) {
      margin-top: .25em;
    }
}

// Placeholder
input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
select:invalid {
    color: var(--gray-l7);
}
// Helper text
:where(input, select, textarea) {
    + small {
        width: 100%;
        margin: 0 0 .25em .5em;
    }
}