table {
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0;
}

// Header
thead {
    th,
    td {
        border-bottom: 3px solid var(--gray-l11);
    }
}

th,
td {
    padding: .5em 1em;
    border-bottom: 1px solid var(--gray-l11);
    text-align: left;
    text-align: start;
}

// Footer
tfoot {
    th,
    td {
        border-top: 3px solid var(--gray-l11);
        border-bottom: 0;
    }
}

// Striped
table {
    &[role="grid"] {
    tbody tr:nth-child(odd) {
        background-color: var(--gray-l12);
    }
    }
}