h1, h2, h3, h4, h5, h6, strong {
    color: var(--gray);
}

h1 {
    padding-bottom: .25em;
    border-bottom: 2px solid var(--gray-l12);
    font-size: var(--fluid-7)
} h2 {
    padding-bottom: .25em;
    border-bottom: 2px solid var(--gray-l12);
    font-size: var(--fluid-6)
} h3 {
    font-size: var(--fluid-5)
} h4 {
    font-size: var(--fluid-4)
} h5 {
    font-size: var(--fluid-3)
} h6 {
    font-size: var(--fluid-2)
}
// Text selection
::selection {
    background: var(--primary-a1);
}
// Link Base 
a {
    text-decoration: none;
    width: fit-content;
    color: var(--primary);
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: color .2s;
        color: var(--primary-d1);
    }
    &:focus {
        text-decoration: underline;
        outline: none;
    }
} 
// secondary
a.secondary {
    color: var(--gray-l7);
    &:hover {
        color: var(--gray-l5);
    }
}
// Contrast
a.contrast {
    color: currentColor;
}
// Deleted
del {
    color: var(--invalid);
}
// Inserted
ins {
    color: var(--valid);
}
//Italic
em {
    color: var(--em-color);
}
//Strikethrough
s {
    color: var(--s-color);
}
// Underline
u {
    color: var(--u-color);
}
// Small
small {
    color: var(--gray-l7);
    font-size: var(--fluid-0);
}
sub, sup, .data-footnote-backref, [aria-describedby="footnote-label"] {
    font-size: var(--fluid-0);
}
// Superscript
sup {
    color: var(--sup-color);
}
// Subscript
sub {
    color: var(--sub-color);
}
// Markdown footnotes
.data-footnote-backref, [aria-describedby="footnote-label"] {
    color: var(--primary);
}
// Abbreviation
abbr {
    width: fit-content;
    cursor: help;
} 
// kbd(keyboard input)
kbd {
    width: fit-content;
    color: var(--gray-l13);
    background-color: var(--gray-l1);
    border-radius: 5px;
    padding: .25em .5em;
}
//Highlited
mark {
    width: fit-content;
    background-color: var(--warning-a1);
    vertical-align: baseline;
    padding: .125em .25em;
}
blockquote {
    margin: .5em 0 .5em 2em;
    padding: .5em 1em;
    border-left: .25rem solid var(--gray-l12);
}
// Page break/line
hr {
    border: none;
    border-bottom: 2px solid var(--gray-l12);
}