---
import Base from '~/layouts/Base.astro';
import '../css/content/_accordion.scss';
---

<Base>
  <main>
    <h1>Accordion</h1>
    <div class="container">
      <h3>Accordion FAQ</h3>
      <details>
        The summary tag marks what the box will say before someone clicks on it
        to view the full details. In this case it says "This is the summary tag"
        <summary> This is the summary tag</summary>
      </details>
      <details>
        The summary tag marks what the box will say before someone clicks on it
        to view the full details. In this case it says "This is the summary tag"
        <summary> This is the summary tag</summary>
      </details>
      <details>
        The summary tag marks what the box will say before someone clicks on it
        to view the full details. In this case it says "This is the summary tag"
        <summary> This is the summary tag</summary>
      </details>
    </div>
  </main>
</Base>
