---
// @ts-nocheck (Stop style attributes from showing errors)
import Base from "~/layouts/Base.astro";
---

<Base>
    <h1>This is Big a Test Heading</h1>
    <h2>h2 Heading</h2>
    <h3>h3 Heading</h3>
    <h4>h4 Heading</h4>
    <h5>h5 Heading</h5>
    <h6>h6 Heading</h6>
    <strong>Default Text:</strong>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nostrum dicta asperiores hic porro consequatur illum dolorem suscipit dolores mollitia! Voluptate, atque? Doloribus natus odit eius nihil tempore, sequi dignissimos.</p>
    <hr>
    <h2>Fluid Font Sizes</h2>
    <strong>--fluid-0</strong>
    <p style="font-size:var(--fluid-0);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>   
    <strong>--fluid-1</strong>
    <p style="font-size:var(--fluid-1);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>
    <strong>--fluid-2</strong>
    <p style="font-size:var(--fluid-2);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>
    <strong>--fluid-3</strong>
    <p style="font-size:var(--fluid-3);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>
    <strong>--fluid-4</strong>
    <p style="font-size:var(--fluid-4);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>
    <strong>--fluid-5</strong>
    <p style="font-size:var(--fluid-5);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>

    <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa numquam quaerat omnis delectus iste dolores mollitia perferendis dolore reprehenderit veritatis, exercitationem totam officiis nobis iusto quidem inventore sequi quis molestias.
    </blockquote>

</Base>
