---
import Base from "~/layouts/Base.astro";
---


<style>
  h1 {
    text-align: center;
    color: red;
  }
  button {
    max-width: 100px;
    margin-top: -15px;
  }
</style>


<Base>
  <main>
    <section class="container">
      <h1 id="animated-content">Animated Content</h1>
      <div style="display: grid; gap: 20px;">
        <h4 style="margin-bottom: 0px;">Directional:</h4>
        <button onclick="animateTop()">Top</button>
        <button onclick="animateBottom()">Bottom</button>
        <button onclick="animateLeft()">Left</button>
        <button onclick="animateRight()">Right</button>
      </div>
    </section>
  </main>
</Base>

<script is:inline>
  var element = document.getElementById('animated-content');

  function animateTop() {
    element.classList.add('animate-top');
    element.classList.remove('animate-bottom', 'animate-left', 'animate-right')
  }
  function animateBottom() {
    element.classList.add('animate-bottom');
    element.classList.remove('animate-top', 'animate-left', 'animate-right')
  }
  function animateLeft() {
    element.classList.add('animate-left');
    element.classList.remove('animate-bottom', 'animate-top', 'animate-right')
  }
  function animateRight() {
    element.classList.add('animate-right');
    element.classList.remove('animate-bottom', 'animate-left', 'animate-top')
  }
</script>
