---
import Base from "~/layouts/Base.astro";
---

<Base>
    <main>
        <h1>Cards</h1>
        <article>
            <h2>Card</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos natus adipisci sit ratione incidunt minima quia praesentium, nemo veniam.</p>
        </article>

        <article>
            <header>
                <strong>Header</strong>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, totam.</p>
            </header>
            <h2>Card</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos natus adipisci sit ratione incidunt minima quia praesentium, nemo veniam.</p>
        </article>

        <article>
            <h2>Card</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos natus adipisci sit ratione incidunt minima quia praesentium, nemo veniam.</p>
            <footer>
                <strong>Footer</strong>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, totam.</p>
            </footer>
        </article>

        <article>
            <header>
                <strong>Header</strong>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, totam.</p>
            </header>
            <h2>Card</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dignissimos natus adipisci sit ratione incidunt minima quia praesentium, nemo veniam.</p>
            <footer>
                <strong>Footer</strong>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, totam.</p>
            </footer>
        </article>
    </main>
</Base>
