---
import '../css/base.scss';
---

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    div {
        height: 2rem;
        width: 100%;
    }
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body class="center">
        <section>
            <div style="background-color:var(--primary-d2);"></div>
            <div style="background-color:var(--primary-d1);"></div>
            <div style="background-color:var(--primary);"></div>
            <div style="background-color:var(--primary-l1);"></div>
            <div style="background-color:var(--primary-l2);"></div>
            <div style="background-color:var(--primary-a1);"></div>
            <div style="background-color:var(--primary-a2);"></div>
            <div style="background-color:var(--primary-a3);"></div>
            <div style="background-color:var(--primary-a4);"></div>

            <div style="background-color:var(--secondary-d1);"></div>
            <div style="background-color:var(--secondary);"></div>
            <div style="background-color:var(--secondary-l1);"></div>
            <div style="background-color:var(--secondary-a1);"></div>
            <div style="background-color:var(--secondary-a2);"></div>

            <div style="background-color:var(--valid-d1);"></div>
            <div style="background-color:var(--valid);"></div>
            <div style="background-color:var(--valid-l1);"></div>
            <div style="background-color:var(--valid-a1);"></div>
            <div style="background-color:var(--valid-a2);"></div>

            <div style="background-color:var(--warning-d1);"></div>
            <div style="background-color:var(--warning);"></div>
            <div style="background-color:var(--warning-l1);"></div>
            <div style="background-color:var(--warning-a1);"></div>
            <div style="background-color:var(--warning-a2);"></div>

            <div style="background-color:var(--invalid-d1);"></div>
            <div style="background-color:var(--invalid);"></div>
            <div style="background-color:var(--invalid-l1);"></div>
            <div style="background-color:var(--invalid-a1);"></div>
            <div style="background-color:var(--invalid-a2);"></div>

            <div style="background-color:var(--gray);"></div>
            <div style="background-color:var(--gray-l1);"></div>
            <div style="background-color:var(--gray-l2);"></div>
            <div style="background-color:var(--gray-l3);"></div>
            <div style="background-color:var(--gray-l4);"></div>
            <div style="background-color:var(--gray-l5);"></div>
            <div style="background-color:var(--gray-l6);"></div>
            <div style="background-color:var(--gray-l7);"></div>
            <div style="background-color:var(--gray-l8);"></div>
            <div style="background-color:var(--gray-l9);"></div>
            <div style="background-color:var(--gray-l10);"></div>
            <div style="background-color:var(--gray-l11);"></div>
            <div style="background-color:var(--gray-l12);"></div>
            <div style="background-color:var(--gray-l13);"></div>
            <div style="background-color:var(--gray-l14);"></div>
            <div style="background-color:var(--gray-l15);"></div>
            <div style="background-color:var(--gray-l16);"></div>
            <div style="background-color:var(--gray-a1);"></div>
            <div style="background-color:var(--gray-a2);"></div>
            <div style="background-color:var(--gray-a3);"></div>
            <div style="background-color:var(--gray-a4);"></div>
        </section>
    </body>
</html>
