---
// @ts-nocheck (Stop style attributes from showing errors)
import Base from "~/layouts/Base.astro";
---

<Base>
	<main>
		<h1>Classless CSS Framework Prototype</h1>
		<ul>
			<li><a href="/preview">Preview</a></li>
		</ul>
		<ul>
			<li><a href="/variables">Variables</a></li>
			<li><a href="/layout">Layout</a></li>
		</ul>
		<ul>
			<li><a href="/typography">Typography</a></li>
			<li><a href="/button">Buttons</a></li>
			<li><a href="/form">Form</a></li>
		</ul>
		<ul>
			<li><a href="/navbar">Navbar</a></li>
			<li><a href="/card">Card</a></li>
		</ul>
		<ul>
			<li><a href="/animations">Animations</a></li>
			<li><a href="/loader">Loading Indicators</a></li>
		</ul>
	</main>
</Base>
