---
// @ts-nocheck (Stop style attributes from showing errors)
import Base from "~/layouts/Base.astro";
---

<Base>
	<main>
		<h1>Classless CSS Framework Prototype</h1>
		<strong>Examples</strong>
		<ul>
			<li><a href="/examples/preview">Markdown Preview</a></li>
			<li><a href="/examples/base-website">Website without customization</a></li>
		</ul>
		<strong>Base Styles</strong>
		<ul>
			<li><a href="/variables">Variables</a></li>
			<li><a href="/layout">Layout</a></li>
		</ul>
		<strong>Content</strong>
		<ul>
			<li><a href="/typography">Typography</a></li>
			<li><a href="/button">Buttons</a></li>
			<li><a href="/form">Form</a></li>
		</ul>
		<strong>Components</strong>
		<ul>
			<li><a href="/navbar">Nav</a></li>
			<li><a href="/card">Card</a></li>
			<li><a href="/modal">Modal</a></li>
			<li><a href="/dropdown">Dropdown</a></li>
		</ul>
		<strong>Utility</strong>
		<ul>
			<li><a href="/animations">Animations</a></li>
			<li><a href="/loader">Loading Indicators</a></li>
		</ul>
	</main>
</Base>
