---
// @ts-nocheck (Stop style attributes from showing errors)
import Base from "~/layouts/Base.astro";
---

<Base>
	<h1>Classless CSS Framework Prototype</h1>
	<ul>
		<li><a href="/preview">Preview</a></li>
	</ul>
	<ul>
		<li><a href="/layout">Layout</a></li>
		<li><a href="/color">Colors</a></li>
		<li><a href="/typography">Typography</a></li>
		<li><a href="/buttons">Buttons</a></li>
		<li><a href="/form">Form</a></li>
	</ul>
</Base>
