---
// @ts-nocheck (Stop style attributes from showing errors)
import Base from "~/layouts/Base.astro";
---

<Base>
	<h1>Classless CSS Framework Prototype</h1>
	<ul>
		<li><a href="/all">Global Styles</a></li>
		<li>
			<strong>Layouts:</strong>
			<ul>
				<li><a href="/layout-center">center</a></li>
			</ul>
		</li>
		<li><a href="/navbar">Navbar</a></li>
		<li><a href="/footer">Footer</a></li>
	</ul>
</Base>
