---
import '../css/base.scss';
import '../css/typography.scss';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body center>
      <h1>Inline Text Elements</h1>
      <div style="display: grid;">
        <!--  Primary Link -->
	    <a href="#" onclick="event.preventDefault()">Primary link</a>

      <!-- Secondary Link -->
        <a href="#" class="secondary" onclick="event.preventDefault()">Secondary link</a>

      <!-- Contrast Link -->
        <a href="#" class="contrast" onclick="event.preventDefault()">Contrast link</a>

      <!-- Bold -->
        <strong>Bold</strong>

      <!-- Italic -->
        <em>Italic</em>

      <!-- Underline -->
        <u>Underline</u>

      <!-- Deleted -->
        <del>Deleted</del>

      <!-- Inserted -->
        <ins>Inserted</ins>

      <!-- Strikethrough -->
        <s>Strikethrough</s>

      <!-- Abbreviation -->
        <abbr title="Abbreviation" data-tooltip="Abbreviation">Abbr.</abbr>

      <!-- kbd -->
        <kbd>Kbd</kbd>

      <!-- Hightlited -->
        <mark>Highlighted</mark>
        <!-- Comment -->
      </div>
      
    </body>
</html>