---
import Base from "~/layouts/Base.astro";
---

<Base>
  <main>
    <!-- general purpose loader -->
    <article aria-busy="true"></article>
    <!-- Button loader -->
    <button aria-busy="true" class="loading"></button>
    <button aria-busy="true" class="loading">Submit</button>
    <h2>How to customize</h2>
    <pre>[aria-busy=&quot;true&quot;]:not(input, select, textarea)::before &lbrace;
width: 1.25rem; /* Size */
height: 1.25rem;  /* Size */
padding: 0.2em; /* Thickness */
background: currentColor; /* Color */
&rbrace;</pre>
  </main>
</Base>
