---
import Base from "~/layouts/Base.astro";
---

<Base>
    <header>
        <ul>
            <li><a class="contrast"><strong>Company</strong></a></li>
        </ul>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </nav>
    </header>
    <main>
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum impedit sed architecto! Quae itaque praesentium modi necessitatibus vel eligendi alias, laborum tempora facere nostrum, in sequi quo porro ex possimus?</p>                
    </main>
</Base>
