---
import Base from "~/layouts/Base.astro";
---

<Base>
  <main>
    <h1>Inline Text Elements</h1>
    <div class="grid">
      <!--  Primary Link -->
      <a href="#" class="primary" onclick="event.preventDefault()">Primary link</a>

      <!-- Secondary Link -->
        <a href="#" class="secondary" onclick="event.preventDefault()">Secondary link</a>

      <!-- Contrast Link -->
        <a href="#" class="contrast" onclick="event.preventDefault()">Contrast link</a>

      <!-- Bold -->
        <strong>Bold</strong>

      <!-- Italic -->
        <em>Italic</em>

      <!-- Underline -->
        <u>Underline</u>

      <!-- Deleted -->
        <del>Deleted</del>

      <!-- Inserted -->
        <ins>Inserted</ins>

      <!-- Strikethrough -->
        <s>Strikethrough</s>

      <!-- Small  -->
      <small>Small</small>

      <!-- Sub  -->
      <p>Text<sub>Sub</sub></p>

      <!-- Sup  -->
      <p>Text<sup>Sup</sup></p>

      <!-- Abbreviation -->
        <abbr title="Abbreviation" data-tooltip="Abbreviation">Abbr.</abbr>

      <!-- kbd -->
        <kbd>Kbd</kbd>

      <!-- Hightlited -->
      <mark>Highlighted</mark>
      <!-- Comment -->
    </div>
  </main>
</Base>