---
import Base from "~/layouts/Base.astro";
---

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    div {
        height: 2rem;
        width: 100%;
    }
</style>

<Base>
    <main>
        <section>
            <div style="background-color:var(--primary-d1);"></div>
            <div style="background-color:var(--primary);"></div>
            <div style="background-color:var(--primary-l1);"></div>
            <div style="background-color:var(--primary-a1);"></div>

            <div style="background-color:var(--valid);"></div>
            <div style="background-color:var(--valid-a1);"></div>

            <div style="background-color:var(--warning);"></div>
            <div style="background-color:var(--warning-a1);"></div>

            <div style="background-color:var(--invalid);"></div>
            <div style="background-color:var(--invalid-a1);"></div>

            <div style="background-color:var(--gray);"></div>
            <div style="background-color:var(--gray-l1);"></div>
            <div style="background-color:var(--gray-l2);"></div>
            <div style="background-color:var(--gray-l3);"></div>
            <div style="background-color:var(--gray-l4);"></div>
            <div style="background-color:var(--gray-l5);"></div>
            <div style="background-color:var(--gray-l6);"></div>
            <div style="background-color:var(--gray-l7);"></div>
            <div style="background-color:var(--gray-l8);"></div>
            <div style="background-color:var(--gray-l9);"></div>
            <div style="background-color:var(--gray-l10);"></div>
            <div style="background-color:var(--gray-l11);"></div>
            <div style="background-color:var(--gray-l12);"></div>
            <div style="background-color:var(--gray-a1);"></div>
            <div style="background-color:var(--gray-a2);"></div>
            <div style="background-color:var(--gray-a3);"></div>
            <div style="background-color:var(--gray-a4);"></div>
        </section>
    </main>
</Base>
