---
import Base from "~/layouts/Base.astro";
---

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }
    div {
        height: 2rem;
        width: 100%;
    }
</style>

<Base>
    <main>
        <h1>CSS Variables</h1>
        <section>
            <h2>Fluid Font Sizes</h2>

            <strong>--fluid-0</strong>
            <p style="font-size:var(--fluid-0);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>   

            <strong>--fluid-1</strong>
            <p style="font-size:var(--fluid-1);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>

            <strong>--fluid-2</strong>
            <p style="font-size:var(--fluid-2);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque? Quis dolores quos illo necessitatibus illum perspiciatis ea?</p>

            <strong>--fluid-3</strong>
            <p style="font-size:var(--fluid-3);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque?</p>

            <strong>--fluid-4</strong>
            <p style="font-size:var(--fluid-4);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque?</p>

            <strong>--fluid-5</strong>
            <p style="font-size:var(--fluid-5);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro. Omnis, autem voluptatum? Dolores ipsa earum nisi eaque?</p>

            <strong>--fluid-6</strong>
            <p style="font-size:var(--fluid-6);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro.</p>

            <strong>--fluid-7</strong>
            <p style="font-size:var(--fluid-7);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro.</p>

            <strong>--fluid-8</strong>
            <p style="font-size:var(--fluid-8);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, neque ratione. Repudiandae, laboriosam porro.</p>
        
            <strong>--fluid-9</strong>
            <p style="font-size:var(--fluid-9);">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </section>
        <section>
            <h2>Color Pallete</h2>

            <div style="background-color:var(--primary-d1);"></div>
            <div style="background-color:var(--primary);"></div>
            <div style="background-color:var(--primary-l1);"></div>
            <div style="background-color:var(--primary-a1);"></div>

            <div style="background-color:var(--valid);"></div>
            <div style="background-color:var(--valid-a1);"></div>

            <div style="background-color:var(--warning);"></div>
            <div style="background-color:var(--warning-a1);"></div>

            <div style="background-color:var(--invalid);"></div>
            <div style="background-color:var(--invalid-a1);"></div>

            <div style="background-color:var(--gray);"></div>
            <div style="background-color:var(--gray-l1);"></div>
            <div style="background-color:var(--gray-l2);"></div>
            <div style="background-color:var(--gray-l3);"></div>
            <div style="background-color:var(--gray-l4);"></div>
            <div style="background-color:var(--gray-l5);"></div>
            <div style="background-color:var(--gray-l6);"></div>
            <div style="background-color:var(--gray-l7);"></div>
            <div style="background-color:var(--gray-l8);"></div>
            <div style="background-color:var(--gray-l9);"></div>
            <div style="background-color:var(--gray-l10);"></div>
            <div style="background-color:var(--gray-l11);"></div>
            <div style="background-color:var(--gray-l12);"></div>
            <div style="background-color:var(--gray-l13);"></div>
            <div style="background-color:var(--gray-a1);"></div>
            <div style="background-color:var(--gray-a2);"></div>
            <div style="background-color:var(--gray-a3);"></div>
            <div style="background-color:var(--gray-a4);"></div>
        </section>
    </main>
</Base>
