h1, h2, h3, h4, h5, h6 {
    color: var(--h-color, var(--gray));
}

h1 {
    padding-bottom: .25em;
    border-bottom: 2px solid var(--h-border-color, var(--gray-l16));
    font-size: var(--h1-font-size, var(--fluid-7));
} h2 {
    padding-bottom: .25em;
    border-bottom: 2px solid var(--h-border-color, var(--gray-l16));
    font-size: var(--h2-font-size, var(--fluid-6));
} h3 {
    font-size: var(--h3-font-size, var(--fluid-5));
} h4 {
    font-size: var(--h4-font-size, var(--fluid-4));
} h5 {
    font-size: var(--h5-font-size, var(--fluid-3));
} h6 {
    font-size: var(--h6-font-size, var(--fluid-2));
}
// base 
a {
    text-decoration: none;
    width: fit-content;
} a:hover {
    text-decoration: underline;
}
// primary
a.primary {
    color: var(--primary);
    transition: .4s;
} a.primary:hover {
    color: var(--primary-d1);
    transition: .4s;
} a.primary:focus {
    color: var(--primary-d1);
    background-color: var(--primary-a3);
} 
// secondary
a.secondary {
    color: var(--gray-a2);
    text-decoration: underline;
    transition: .4s;
} a.secondary:hover {
    color: var(--gray-a1);
    transition: .4s;
} a.secondary:focus {
    color: var(--gray-a1);
    background-color: var(--gray-a4);
}
// Contrast
a.contrast {
    color: var(--gray);
    text-decoration: underline;
    transition: .4s;
} a.contrast:hover {
    color: var(--gray-l3);
    transition: .4s;
} a.contrast:focus {
    color: var(--gray-l3);
    background-color: var(--gray-a4);
}
// Deleted
del {
    color: var(--del-color, var(--invalid));
}
// Inserted
ins {
    color: var(--ins-color, var(--valid));
}
//Bold
strong {
    color: var(--strong-color, var(--gray));
}
//Italic
em {
    color: var(--em-color);
}
//Strikethrough
s {
    color: var(--s-color);
}
// Underline
u {
    color: var(--u-color);
}
// Small
small {
    font-size: var(--small-font-size, var(--fluid-0));
    color: var(--small-color, var(--gray-l8));
}
sub, sup, .data-footnote-backref, [aria-describedby="footnote-label"] {
    font-size: var(--sub-font-size, var(--fluid-0));
}
// Superscript
sup {
    color: var(--sup-color);
}
// Subscript
sub {
    color: var(--sub-color);
}
// Markdown footnotes
.data-footnote-backref, [aria-describedby="footnote-label"] {
    color: var(--footnote-color, var(--primary));
}
// Abbreviation
abbr {
    width: fit-content;
    cursor: help;
} 
// kbd(keyboard input)
kbd {
    width: fit-content;
    color: var(--kbd-color, #FFF);
    background-color: var(--kbd-background, var(--gray-l1));
    border-radius: 5px;
    padding: .25em .5em;
}
//Highlited
mark {
    width: fit-content;
    background-color: var(--mark-background, var(--warning-a1));
    color: var(--mark-color);
    vertical-align: baseline;
    padding: .125em .25em;
}
// Text selection
::selection {
    background: var(--selection-background, var(--primary));
    color: var(--selection-color, #FFF);
}
// Page break/line  
hr {
    border: none;
    height: 2px;
    background-color: var(--h-border-color, var(--gray-l16));
}